assignment-1/solution-code/.DS_Store
assignment-1/solution-code/.vscode/
assignment-1/solution-code/bin/
assignment-1/skeleton-code/.vscode
assignment-1/skeleton-code/bin/
assignment-2/solution-code/.DS_Store
assignment-2/solution-code/.vscode/
assignment-2/solution-code/bin/
assignment-2/skeleton-code/.vscode
assignment-2/skeleton-code/bin/
.DS_Store